[submodule "Project/vendor/glm"]
	path = Project/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Project/vendor/vk-bootstrap"]
	path = Project/vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "Project/vendor/VMA"]
	path = Project/vendor/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Project/vendor/spdlog"]
	path = Project/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Project/vendor/VulkanUtilityLibraries"]
	path = Project/vendor/VulkanUtilityLibraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "Project/vendor/slang"]
	path = Project/vendor/slang
	url = https://github.com/shader-slang/slang.git
[submodule "Project/vendor/imgui"]
	path = Project/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Project/vendor/tracy"]
	path = Project/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Project/vendor/CLI11"]
	path = Project/vendor/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "Project/vendor/pgbar"]
	path = Project/vendor/pgbar
	url = https://github.com/Konvt/pgbar
